<div class="container-fluid p-2 bg-primary text-white">
    <div class="row">
        <span class="fs-4 fw-semibold ms-4" routerLink="/medicine"><i class="bi bi-arrow-left me-2"></i>Top Deals</span>
    </div>
</div>
<div class="container-fluid p-2 text-bg-light">
    <div class="row">
        <div class="col-md-6 text-center">
            <span>  showing Medicine Availability and price in &nbsp;
              <span class="text-primary"> Bengaluru,560029</span> </span>
        </div>
    </div>
</div>